In [1]:
import pandas as pd
# Carregar o arquivo CSV
df = pd.read_csv('D:/OneDrive - InMotion - Consulting/BusinessCase/Data_Categorization/processed_data.csv', encoding='utf-8')
# Exibir as primeiras linhas do dataframe para inspecionar os dados
df.head()

,country_code,type,created_at,content_en,cleaned_content,original_sentiment,cleaned_sentiment,sentiment_difference,original_length,cleaned_length
0,br,opinion,2024-04-06,"A doctor who is not very inclusive, it seems t...",doctor not_very inclusive seems want immediate...,-0.9209,-0.9126,0.0083,1018,586
1,br,opinion,2024-04-12,Although the online schedule showed availabili...,although online schedule showed availability t...,0.0000,0.0000,0.0000,154,110
2,br,opinion,2024-04-22,Didn't answer my wife. After traveling more th...,answer wife traveling three hour even though c...,-0.8079,-0.5719,0.2360,246,156
3,br,opinion,2024-04-27,\nHe works at the Santo Amaro rehabilitation c...,work santo amaro rehabilitation center not_pre...,-1.0000,-0.8027,0.1973,624,416
4,br,opinion,2024-04-29,This psychologist canceled the 1st appointment...,psychologist canceled st appointment wa late s...,0.3480,-0.8729,1.2209,636,385

In [2]:
import pandas as pd

# Supondo que o DataFrame já esteja carregado em 'df'

# Convertendo a coluna 'created_at' para datetime
df['created_at'] = pd.to_datetime(df['created_at'])

# Identificando a primeira e a última data
first_date = df['created_at'].min()
last_date = df['created_at'].max()

# Calculando a duração em dias, semanas, meses e anos
duration_days = (last_date - first_date).days
duration_weeks = duration_days // 7
duration_months = (last_date.year - first_date.year) * 12 + (last_date.month - first_date.month)
duration_years = last_date.year - first_date.year + 1  # +1 para incluir ambos os anos de início e fim

# Exibindo as informações
print(f"Primeira data: {first_date}")
print(f"Última data: {last_date}")
print(f"Duração em dias: {duration_days} dias")
print(f"Duração em semanas: {duration_weeks} semanas")
print(f"Duração em meses: {duration_months} meses")
print(f"Duração em anos: {duration_years} anos")

# Contagem de registros por semana e exibição do número da semana do ano
df['year_week'] = df['created_at'].dt.to_period('W').apply(lambda r: r.start_time)
df['week_number'] = df['created_at'].dt.isocalendar().week
weekly_counts = df.groupby(['year_week', 'week_number']).size()

print("\nContagem de registros por semana:")
print(weekly_counts)

Primeira data: 2024-04-01 00:00:00
Última data: 2024-06-30 00:00:00
Duração em dias: 90 dias
Duração em semanas: 12 semanas
Duração em meses: 2 meses
Duração em anos: 1 anos

Contagem de registros por semana:
year_week   week_number
2024-04-01  14             3624
2024-04-08  15             3571
2024-04-15  16             3660
2024-04-22  17             3555
2024-04-29  18             3133
2024-05-06  19             3466
2024-05-13  20             3633
2024-05-20  21             2992
2024-05-27  22             2843
2024-06-03  23             4021
2024-06-10  24             3853
2024-06-17  25             3289
2024-06-24  26             3211
dtype: int64

In [3]:
df.head()

,country_code,type,created_at,content_en,cleaned_content,original_sentiment,cleaned_sentiment,sentiment_difference,original_length,cleaned_length,year_week,week_number
0,br,opinion,2024-04-06,"A doctor who is not very inclusive, it seems t...",doctor not_very inclusive seems want immediate...,-0.9209,-0.9126,0.0083,1018,586,2024-04-01,14
1,br,opinion,2024-04-12,Although the online schedule showed availabili...,although online schedule showed availability t...,0.0000,0.0000,0.0000,154,110,2024-04-08,15
2,br,opinion,2024-04-22,Didn't answer my wife. After traveling more th...,answer wife traveling three hour even though c...,-0.8079,-0.5719,0.2360,246,156,2024-04-22,17
3,br,opinion,2024-04-27,\nHe works at the Santo Amaro rehabilitation c...,work santo amaro rehabilitation center not_pre...,-1.0000,-0.8027,0.1973,624,416,2024-04-22,17
4,br,opinion,2024-04-29,This psychologist canceled the 1st appointment...,psychologist canceled st appointment wa late s...,0.3480,-0.8729,1.2209,636,385,2024-04-29,18

In [4]:
# Contar o número de países distintos na coluna 'country_code'
unique_countries = df['country_code'].nunique()

print(f"Número de países distintos: {unique_countries}")

Número de países distintos: 3

In [5]:
# Listar os códigos dos países distintos
countries = df['country_code'].unique()

print("Países distintos:")
print(countries)

Países distintos:
['br' 'de' 'es']

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

# Supondo que o DataFrame já esteja carregado na variável df

# Contar o número de ocorrências de cada tipo
type_counts = df['type'].value_counts()

# Calcular o percentual de cada tipo
type_percentages = df['type'].value_counts(normalize=True) * 100

# Criar um DataFrame para visualizar os resultados
type_analysis = pd.DataFrame({
    'Count': type_counts,
    'Percentage': type_percentages
})

# Exibir a análise
print(type_analysis)

                Count  Percentage
type
case            29384   65.514704
opinion         15200   33.889991
csat              129    0.287619
promoter ninja    111    0.247486
appfollow          27    0.060199